<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=0.599, user-scalable=no">
    <title>Indicator</title>
    <script src="//unpkg.com/vue@next"></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>

</head>
<style>

.title{
    
    padding-bottom: 20px;
}
.cardview{
    
    display: inline-block;
    width: 150px;
    height: 100px;
}
.bd{
    font-weight: bold;
}
.xl{
    font-size: 28px;
}
.lg{
    font-size: 24px;
}
.md {
    font-size: 16px;
}
.sm {
    font-size: 8px;
}
.gray{
    color: gray;
}

</style>
<body>

<div id="app">
        <div class="title lg">{{period}} Indicator</div>

        <div class="cardview md" v-bind:id="'group_'+index" v-for="(item,index) in items">

            <div class="bd">{{item.symbol}}</div>
            <div v-if="item.bDoji">底部Doji <div class="sm">{{item.barTime}}</div></div>
            <div v-if="item.bGap">底部缺口 <div class="sm">{{item.barTime}}</div></div>
            <div v-if="item.roundB">圆弧底形态 <div class="sm">{{item.barTime}}</div></div>
            <div v-if="item.bLine">底部线出现？<div class="sm">{{item.barTime}}</div></div>
        
        </div>
        <div class="gray">updated date: {{updated}}</div>

</div>

</body>
<script>

    var json_url = '//cbmland.com/json/Indicator_day_Data.json'
    
    // Make a request for a user with a given ID
    axios.get(json_url)
    //axios.get('/backtrader-master/logs/Toolbox_Screener_Data.json')
      .then(function (response) {
        // handle success
        //console.log(response);

        let items = response.data.items;

        for( var i in items){
            var item = items[i];

        }
        //console.log(groups)
        onData(response.data)

      })
      .catch(function (error) {
        // handle error
        console.log(error);
      })
      .then(function () {
        // always executed
      });

    function onData(value) {

        const ComponentsApp = {
            data() {
                return {
                    items: value.items,
                    period: value.period,
                    updated:value.updated
                }
            },
            methods: {

            }
        }


        const app = Vue.createApp(ComponentsApp)


        app.mount('#app')
    }
</script>
</html>
